@import "tailwindcss";
.box-home {
  background: url(../src/assets/img1.jpg);
  background-size: cover;
  background-position: center;
}
.b1 {
  backdrop-filter: blur(3px);
}
.h-b1 {
  background: rgb(252, 252, 105, 0.5);
}
